html{
    height: 100%;;
}
body{
    height: 100%;
}
.sf-grid__container{
    height: 100%
}
.sf-grid__row {
    height: 100%
}
#logo_splash{
  width: 30%;
margin-left: 35%
}
.fullheight{
    height: 100%
}
.splashpage_logo{
    height: 100%;
  
}


.splashpage_logo h1{
color: #4183D7;
margin-bottom: 0;
margin-top: 500px;
text-align: right;
}
.splashpage_logo h2{
color: #6CACD4;
margin-top:0;
text-align: right;}


#splash_left{
height: 100%;
  
}


.color1{ background-color: #2C3E50;}
.color2{ background-color: #4183D7;}
.color3{ background-color: #6CACD4;}
.color4{ background-color: #663399;}
.color5{ background-color: #999;}
.color6{ background-color: #ffffff;}


#div_img_splash_page{
    background-image: url(../assets/images/shockwave.jpg);
    background-position: center center;
    background-repeat: no-repeat;
}

#div_img_splash_page{
    height: 100%;
    margin-top: -225px;
    margin-left: -20px;
    margin-right: -10px;
}

#img_splash_page{
    padding-bottom: %;
}

a .nav_square{
    width: 20%;
    height: 10px;
    background-color: #6CACD4;
    float: left;
    position: absolute;
    bottom: 45px;
}
a .nav_square img{

    width: 50%;
    display: block;
    position: relative;
    margin: 5% auto 0 ;

}

a .nav_square{
    background-color: #6CACD4;
    color: #fff;
    height: 100%;
    width: 200px;
    display: block;
    bottom: 0;
    z-index: 100000;
    position: relative;
    width: 20%;
   
}

a .nav_square:hover{
    background-color: #A0C0EA; /* = #6CACD4 op 50% oppacity qua kleur  */
}


a .nav_square p{
    
    width: 150px;
    text-align: center;
    display: block;
    margin: 0 auto;
    
    
}

a {
    text-decoration: none;
    color: #fff;
    height: 100%;
    
    
}
