.color1{ background-color: #2C3E50;}
.color2{ background-color: #4183D7;}
.color3{ background-color: #6CACD4;}
.color4{ background-color: #663399;}
.color5{ background-color: #999;}
.color6{ background-color: #ffffff;}

/* NAVBAR */


.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

a {
    text-decoration: none;
    color: #2C3E50;
}
.full_height{
    height: 100%
}
.float_left{
    float: left;
    width: 15%;
    padding: 0px;
    margin: 0px;
    height: 100%
}


.navbar{
    height:100px;
    background-color: #6CACD4;
    line-height: 0px;
    margin: 0;
    width: 100%;
    
}



.navbar img{
    
    display: block;
    margin:  auto;
}
div a:nth-of-type(5) .float_left {
    width: 12%; 
}

#nav_brand{
    background-color: #2C3E50;
    color: #FFFFFF;
    font-size: 2.5rem;
    line-height: 50%;
    height: 100%;
    width: 25.6%;
    padding-left: 4px;
    
    
    
}
.navbar p{
    text-align: center;
    padding: -25px;
    position: relative;
    bottom: 20px;
    
}

#nav_brand p{
   padding: 0px 5px 0 0px;
   text-align: right;
    width: 100%;
    position: inherit;
}
#nav_brand img{
    height: 55px;
    margin-right: 240px;
    
    margin-top: -65px;
    visibility: hidden
}

#nav_brand .lustana{
    font-size: 0.35em;
    padding: -20px 0;
    
}

.navbar .float_left:hover{
    background-color: #A0C0EA;
    height: 100%;
}



.second_row{
    height: 150px;;
    text-align: center
}

.second_row h1{
    
    margin: auto;
    margin: 17%;
    color: white;
    
}

#double_margin_error{
    margin: 8.3%
}

/* page*/


.second_row{
    text-align: center;
    height: 100%
}

.second_row h1{
    color: #4183D7;
    font-family: 'lustana', serif;
    font-style: italic;
    font-size: 1.6em;
}



.second_row .page_name h1{
    color: white;
    font-style: normal;
     font-family: 'Source Sans Pro', sans-serif;
    font-size: 2rem;
}

.second_row .page_name{
    height: 150px;
}

#visite_kaart_v, #visite_kaart_a{
    width: 100%;
}
#fotoshop_icon{
    width: 35%;
}
#html_icon, #css_icon, #js_icon, #wp_icon{
width: 24%;
}
#id_icon, #ai_icon{
    width: 15%;
}
#pic_client, #pic_creator{
    width: 100%;
}


@media screen and (min-width: 1300px) {
    #nav_brand img{visibility: visible}
    #nav_brand{ width: 25.1%}
    
}

/* page */

